/****** PLACE YOUR CUSTOM STYLES HERE ******/

body {
	background-color: black;
}

#why hr{
	border-color: #fc4f4f;
}

.btn-primary {
		background-color: #a94442;
		color: white;
		border: none;
}

#nav-contact a {
	color: #333;
}



@media(max-width:767px){
	
	#first{ height: ;
	background-color: #222;
	text-align: center;}
	
	#first h6 {
		font-size: 12px;
		text-transform: none;
		font-weight: 500;
		margin: 0px auto 60px auto;
	}
	
	#first .large {
		padding: 30px 20px 16px 20px;
		font-size: 38px;
	}
	
	#sri {
		background-color: #070707;
	}
		
	#howard {
		
		background-color: #161616;
	}

	
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}



